*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(hexbg.jpg);
    background-position: center;
    background-size: cover;
    
    
}

.side-nav{
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(204, 231, 150, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}
.user div{
    display: none;


}
.user h2{
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}

.user-img{
    width: 40px;
    border-radius: 50%;
    margin: auto;
}
ul{
    list-style: none;
    padding: 0 15px;
    text-decoration: none;
    
}

ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center ;
    cursor: pointer;
    text-decoration: none;
}

ul li img{
    width: 15px;
    margin-right: 0px;
    text-decoration: none;
    display: flex;
    align-items: right;
    width: 60px;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-right: auto;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}
    
ul li p{
    white-space: nowrap;
    display: none;
    text-decoration: none;

}

.side-nav:hover{
    width: 250px;

}
.side-nav:hover .user div{
    display: block;
}

.side-nav:hover .user{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.side-nav:hover .user-img{
    margin: 0;
}

.side-nav:hover ul li p{
    display: block;
}

.side-nav:hover ul li img{
    margin-right: 10px;
}
.side-nav:hover ul li{
    justify-content: flex-start;
}
.color{
    color: rgb(178, 220, 237);
    font-weight: 600;
}

.up{
   display: block;
    margin-left: 0px;
    margin-right: 0px;
    background: rgb(0, 0, 0);
   padding-left: 5%;
    font-family: monospace;
    font-size: x-large;
    text-decoration: none;
    font-weight: 900;
    

    
}

A{
    text-decoration: none;
    color: rgb(91, 163, 89);
   bottom: 80px;
   margin-left: 10%;
   margin-bottom: 30px; 
   

}

#container3{
 
    height: 100%;
    width: 100%;
    color: #f1f1f1;
    background: rgb(0, 0, 0);
   
    text-align: center;
  }

.container {
  position: absolute;
  width: 50%;
}

.image {
  display: block;
  width: 40%;
  height: auto;
  margin-left: 20%;

}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #15473b;
    overflow: hidden;
    width: 0%;
    height: 100%;
    transition: .5s ease;
    margin-left: 15%;
  }
  

.container:hover .overlay {
  width: 50%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  margin-bottom: 30%;
}

#font{
    margin-top: 20%;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




  



